/* 
    Painel de Detalhes
*/
.mainDetail{
    border-radius: 8px;
    padding-top:20px;
    position: fixed;
    top:7%;
    left: 27%;
    width:750px;
    box-shadow: 10px 10px 100px #000;
    z-index: 5;
    height:500px;
    background:#dcdcdc;
}
.boxDados{
    height: 370px;
    display: grid;
}
.nomesMovimentacao{
    background: #ccc;
    margin-top: 0;
    height: 165px;
    border-radius: 5px;
}
.dadosSaida{
    width: 320px;
    height: 135px;
    border-radius: 5px;
}
.dados{
    border-radius: 5px;
}
.nomes{
    margin-top: 0;
    width: 320px;
    float: left;
}
.destino #obs{
    margin-left: 190px;
    border-radius: 5px;
    border-color: #fff;
    width: 290px;
    padding: 3px;
    resize: none;
    font-size: 16px;
}
.tituloDados{
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
}
.dados{
    padding-top: 0;
    margin-top: 0;
    height: 170px;
    margin-bottom: 0;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.dadosS{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3px;
    height: 40px;
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.dadosC{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 180px;
    height: 40px;
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.destino{
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
    width: 320px;
    margin-left: 3px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.inputGroup4{
    height: 40px;
    width: 400px;
    margin-top: 0;
    display: grid;
    margin-left: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 250px 150px;
    gap:0px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
}
.inputNomes{
    height: 40px;
    margin-top: 0 !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 110px 200px;
    margin-left: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
/**
*
*
*
*/
.btnDetail{
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 200px 200px;
    display: grid;
    justify-content: space-evenly;
}
.btnDetail button{
    width: 100%;
    height: 40px;
    font-weight: normal;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
}
.btnDetail .finalizarMovimentacao{
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(to bottom right, green, #00ad10);
}
.btnDetail .finalizarMovimentacao:hover{
    background-image: linear-gradient(to bottom right, #004f07, #00ad10);
}