#app{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px  30px;
    background: green;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#menu{
    width: 200px;
    margin-right: 20px;
}
button{
    width: 100%;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
}
#painel{
    width: 100%;
    height: 100%;
    align-items: center;
    text-align:  center;
}
#tbP{
    width: 100%;
}
th{
    background-color: azure;
}
table{
    background-color: #fff;
    border-radius: 5px;
    height: 300px;
}